@font-face {font-family: NotoSans; src: url(fonts/NotoSans.ttf);}
@font-face {font-family: NotoMono; src: url(fonts/NotoSansMono.ttf);}
@font-face {font-family: NotoSerif; src: url(fonts/NotoSerif.ttf);}

:root {
    color-scheme: light dark;
    --black: #222222;
    --white: #ffffff;
    --light-highlight: #eb736a;
    --dark-highlight: #8d1646;
    --bg-colour: light-dark(var(--white), var(--black));
    --text-colour: light-dark(var(--black), var(--white));
    --highlight-colour: light-dark(var(--dark-highlight), var(--light-highlight));
    --alt-highlight-colour: light-dark(var(--light-highlight), var(--dark-highlight));
    --border-width: 3px;
}

* {
    box-sizing: border-box;
    font-family: NotoSans;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

#main-container {
    padding: 3%;
}

h1, h2, h3, h4, h5, h6, h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: NotoSerif;
}

h1, h1 * {
    font-weight: 800;
    text-decoration: underline solid var(--highlight-colour) var(--border-width);
    vertical-align: top;
}

.highlight-text {
    color: var(--highlight-colour);
}

iframe {
    border: none;
}

.col-md-6 {
    padding: 1%;
}

#wiki-frame {
    border: solid var(--border-width) var(--highlight-colour);
}

#wiki-frame, #bingo-board {
    width: 100%;
    height: 100%;
}

.bingo-space {
    align-content: center;
    border-bottom: solid var(--border-width) var(--highlight-colour);
    border-right: solid var(--border-width) var(--highlight-colour);
    font-size: large;
    font-weight: normal;
    padding: 1%;
    transition: font-weight 0.25s;
    word-wrap: break-word;
}

.bingo-row-0, .bingo-row-1, .bingo-row-2, .bingo-row-3, .bingo-row-4 {
    height: 100%;
}

.bingo-column-0 {
    border-left: solid var(--border-width) var(--highlight-colour);
}

.bingo-row-0 div {
    border-top: solid var(--border-width) var(--highlight-colour);
}

/* Animations & effects */

.bingo-space:hover {
    font-weight: bold;
}